<form style="display: flex;
flex-direction: column; max-width: 500px;" action="">
    <label><input id="name" type="text" name="name">Name</label>
    <label><input id="lastName" type="text" name="lastName">Last Name</label>
    <label><input type="number" id="age" name="number">Age</label>
    <button style="display: inline-flex;">Submit</button>
</form>